/*! Mixins */
// ==========================================================================

@import url(https://fonts.googleapis.com/css?family=Roboto:500,300,700,300italic|Montserrat:700);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.border-radius0 (@radius: 0) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

.border-radius1 (@radius: 1px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

.border-radius4 (@radius: 4px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

.transition03 (@who: all, @length: 0.3s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

