/*! Plugins */
// ==========================================================================

// Accordion with CSS3 http://tympanus.net/codrops/2012/02/21/accordion-with-css3/

.ac-container{
	max-width: 900px;
	margin: 60px auto 90px auto;
	text-align: left;
}
.ac-container label{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: @blue;
    font-weight: @font-weight-regular;
	//text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 80%;
	background: @white;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover,
.ac-container label:focus {
	color: @black;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: @blue10;
	color: @black;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article ul {
    padding: 0 0.800em 0 1.200em;
}
.ac-container article li {
    list-style-type: none;
	line-height: 1.7;
    font-size: 80%;
}
.ac-container article li a {
    text-decoration: none;
	color: @blue;
}
.ac-container article li a:hover,
.ac-container article li a:focus {
    color: @black;
}
.ac-container article li a:visited {
    color: @black;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 125px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 280px;
}

@media only screen and (min-width: 480px) {
    .ac-container label {
        font-size: 100%;
    }
    .ac-container article li {
        font-size: 90%;
    }
}

@media only screen and (min-width: 530px) {
    .ac-container label {
        font-size: 120%;
    }
    .ac-container article li {
        font-size: 100%;
    }
}


