/*********************************************
  * Filename: style.css
  * Website: http://www.get2knowbcn.com
  * Author: Sergi Duran
  * Author URI: http://www.sokvist.com
  * Date: 06/02/2015
  * Version: 1.0
*********************************************/

@import "normalize.less";
@import "variables.less";
@import "mixins.less";
@import "main.less";
@import "thumper.less";


// Global
// ---------------------------------------------------------------------------

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

body {
    font-size: 16px;
    color: @black;
    font-family: @font-family-roboto;
    font-weight: @font-weight-light;
}

p {
    line-height: 1.5;
}

a {
    color: @blue;
}

b {
    font-weight: @font-weight-regular;
}

.gettoknow {
    font-family: @font-family-montserrat;
    font-weight: @font-weight-bold;
    letter-spacing: -0.030em;
    padding: 0.100em;
    color: @black;
    //text-decoration: none;
    //text-shadow: 1px 1px 2px @black25;

    span {
        color: @blue;
    }
}

.smaller {
    font-size: 90%;
}

.contain img {
    box-shadow: 0 0 1px @black75;
    -webkit-box-shadow: 0 0 1px @black75; 
}

// Header
// -----------------------------------------------
#banner {
    position: relative;
    text-align: center;
    min-height: 100%;
    z-index: 1;
    
    #brand {
        //min-height: 300px;
        width: 95%;
        margin: 0 auto;
        padding: 14% 0;
        //background-color: @white50;
        
        a#logo {
            font-family: @font-family-montserrat;
            font-weight: @font-weight-bold;
            font-size: 250%;
            letter-spacing: -0.030em;
            padding: 0.100em;
            color: @black;
            text-decoration: none;
            text-shadow: 1px 1px 3px @black50;
            
            span {
                color: @blue;
            }
        }
    }
    h1 {
        color: @black;
        text-shadow: 1px 1px 2px @black25;
        font-size: 130%;
    }
}

@media only screen and (min-width: 480px) {
    #banner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        //background-image: url(../images/bg-header-1.jpg);
        border-bottom: 1px solid @blue;
        
        background-color: @blue50;
    }
    .home #banner {
        background-image: -webkit-linear-gradient(@ochre40, @ochre30), url('../images/bg-header-4.jpg');
        background-image: linear-gradient(@ochre40, @ochre30), url('../images/bg-header-4.jpg');
    }
    .about-us #banner {
        background-image: -webkit-linear-gradient(@ochre20, @ochre40), url('../images/bg-header-6.jpg');
        background-image: linear-gradient(@ochre20, @ochre40), url('../images/bg-header-6.jpg');
    }
    .tours #banner {
        background-image: -webkit-linear-gradient(@ochre30, @ochre40), url('../images/bg-header-home.jpg');
        background-image: linear-gradient(@ochre30, @ochre40), url('../images/bg-header-home.jpg');
    }
    .spanish-lessons #banner {
        background-image: -webkit-linear-gradient(@ochre30, @ochre40), url('../images/bg-header-3.jpg');
        background-image: linear-gradient(@ochre30, @ochre40), url('../images/bg-header-3.jpg');
    }
    .contact #banner {
        background-image: -webkit-linear-gradient(@ochre30, @ochre40), url('../images/bg-header-1.jpg');
        background-image: linear-gradient(@ochre30, @ochre40), url('../images/bg-header-1.jpg');
    }
    .fees #banner {
        background-image: -webkit-linear-gradient(@ochre40, @ochre40), url('../images/bg-header-2.jpg');
        background-image: linear-gradient(@ochre40, @ochre40), url('../images/bg-header-2.jpg');
    }
    #banner #brand {
        padding: 9% 0;
    }
    #banner #brand a#logo {
        font-size: 400%;
        color: @white;
    }
    #banner h1 {
        color: @white;
        font-size: 200%;
    }
}

@media only screen and (min-width: 640px) {
    #banner #brand a#logo {
        font-size: 500%;
        color: @white;
    }
}

ul.navbar {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid @blue;
}

ul.navbar li:last-child {
    display: none;
}

ul.navbar a {
	position: relative;
	display: inline-block;
    width: 100%;
	margin: 0 auto;
    line-height: 2.2;
	outline: none;
	color: @blue;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: @font-weight-regular;
	text-shadow: 0 0 1px @black25;
	font-size: 135%;
    border-bottom: 1px solid @blue;
    .transition03;
}

ul.navbar a:hover,
ul.navbar a:focus {
	outline: none;
    color: @white;
    background-color: @blue;
}

.cl-effect a.active {
    color: @black;
}

@media only screen and (min-width: 640px) {
    ul.navbar {
        border-top: none;
    }
    ul.navbar li {
        display: inline-block;
        margin: 0;
    }
    ul.navbar a {
        border-bottom: none;
        margin: 8px 4px;
        font-size: 110%;
    }

    /* Hover effect: borders slight translate */
    ul.navbar a {
        text-shadow: none;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }

    ul.navbar a::before,
    ul.navbar a::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: @blue;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    ul.navbar a::before {
        top: 0;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    ul.navbar a::after {
        bottom: 0;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px);
    }

    ul.navbar a:hover,
    ul.navbar a:focus {
        color: @blue;
        background-color: transparent;
    }

    ul.navbar a:hover::before,
    ul.navbar a:focus::before,
    ul.navbar a:hover::after,
    ul.navbar a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@media only screen and (min-width: 768px) {
    ul.navbar li {
        margin: 0 3px;
    }
    ul.navbar a {
        border-bottom: none;
        margin: 10px;
        font-size: 120%;
    }
}

// Social buttons
ul.social {
    position: absolute;
    top: -3px;
    right: 5px;
    margin: 0;
    text-align: center;
    padding: 0;
    z-index: 1;
}

ul.social li {
    display: inline;
}

ul.social li:nth-child(3),
ul.social li:nth-child(4),
ul.social li:nth-child(5) {
    display: none;
}

ul.social li a {
    text-decoration: none;
}

ul.social li .icon {
    font-size: 18px;
}

ul.social li .icon:after {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: @black;
    //font-size: 125%;
    padding: 0.200em 0.200em 0.100em;
    margin: 0 0.100em;
    -webkit-font-smoothing: antialiased;
    line-height: 2;
    text-indent: 0;
    border-bottom: 2px solid @black;
    text-shadow: 1px 1px 2px @black25;
    .transition03;
}

ul.social li .icon:hover:after,
ul.social ul li .icon:focus:after {
  //color: @sepia;
}

.facebook:after {
    content: "\f09a";
}

.twitter:after {
    content: "\f099";
}
.google:after {
    content: "\f0d5";
}

.linkedin:after {
    content: "\f0e1";
}

.tripadvisor {
    display: inline-block;
    width: 125px;
    height: 22px;
    background-size: 125px 22px;
    background-image: url("../images/tripadvisor-logo.svg");
    background-position: center center;
    margin-bottom: -5px;
    margin-right: 5px;
}

.tripadvisor:after {
    
}

.icon.facebook:hover:after,
.icon.facebook:focus:after {
    border-color: @facebook;
}

.icon.twitter:hover:after,
.icon.twitter:focus:after {
    border-color: @twitter;
}

.icon.google:hover:after,
.icon.google:focus:after {
    border-color: @google;
}

.icon.linkedin:hover:after,
.icon.linkedin:focus:after {
  border-color: @linkedin;
} 

ul.social li span {
  display: none;
}

@media only screen and (min-width: 480px) {
    ul.social li .icon {
        font-size: 20px;
    }
    ul.social li .icon:after {
        border-bottom: 2px solid @white;
        color: @white;
    }
    .tripadvisor {
        width: 136px;
        height: 24px;
        background-size: 136px 24px;
    }
}

@media only screen and (min-width: 640px) {
    ul.social {
        top: 0;
        right: 18px;
    }
    ul.social li .icon {
        font-size: 24px;
    }
    .tripadvisor {
        width: 160px;
        height: 28px;
        background-size: 160px 28px;
    }
}

// Main
// -----------------------------------------------
main,
aside {
    margin: 7% auto;
    padding: 0 20px;
    font-size: 110%;
}

main h2 {
    text-align: center;
    font-size: 160%;
    margin-bottom: 2em;
}

main h3 {
    margin-top: 3em;
}

main h4 {
    margin-top: 2em;
}

.tel {
    //color: @black;
}

.content-home {
    display: flex;
    margin: 2em auto 4em;
    
    .grid {
        display: flex;
        margin-bottom: 2em;
    }
    
    .equal-h {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    p {
        margin-top: 0;
        flex: 1 0 auto;
    }
    
    @media only screen and (max-width: 639px) {
        flex-direction: column;
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-exchange:before {
  content: "\f0ec";
}

.content-footer {
    font-size: @font-size-large;
    text-align: center;
}

.cta-button {
    width: 90%;
    text-align: center;
} 

.cta-button a {
    font-size: 125%;
    color: @white;
    background-color: @blue;
    text-decoration: none;
    font-weight: @font-weight-bold;
    display: block;
    line-height: 2.5;
    border: 3px solid @blue;
    .border-radius0;
    .transition03;
}

.cta-button a:hover,
.cta-button a:focus,
.cta-button a.current {
    color: @blue;
    background-color: @white;
}

.cta-button a.current {
    cursor: auto;
}

@media only screen and (min-width: 480px) {
    .cta-button a {
        //font-size: 90%;
    }
}

@media only screen and (min-width: 640px) {
    .cta-button {
        width: 100%;
    }
    .cta-button a {
        //font-size: 125%;
    }
}

@media only screen and (min-width: 1170px) {
    main,
    aside {
       max-width: 1024px; 
    }
}

// Aside
// -----------------------------------------------
hr {
    border: 0;
    width: 100%;
    //max-width: 804px;
    height: 1px;
    background-color: @blue;
    margin: 5em auto 4em;
    padding: 0;
}

@media only screen and (min-width: 1170px) {
    hr {
        max-width: 1024px;
    }
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px 20px;
}

aside .testimonials > div {
    display: block;
    height: auto;
    height: 100%;
    //max-width: 90%;
    background-color: @blue10;
    //margin: 10px auto 10px;
    //vertical-align: middle;
    //padding: 10px 0;
}

aside .testimonials > div h4 {
    margin: 30px;
}

aside .testimonials > div blockquote {
    margin: 10px 30px 30px;
    padding: 0;
    font-style: italic;
}

aside .testimonials > div blockquote > span {
    display: block;
    font-style: normal;
    text-align: right;
    margin-top: 2em;
}

@media only screen and (min-width: 768px) {
    aside .testimonials > div {
        //display: inline-table;
        //max-width: 46%;
        //margin: 10px 0 10px 2%;
    }
    aside .testimonials > div blockquote {
        //margin: 10px 30px 30px;
        //min-height: 515px;
    }
}


// Tripadvisor
// -----------------------------------------------
#tripadvisor {
    text-align: center;
}

#tripadvisor img {
    width: 350px;
    height: 62px;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
}

#tripadvisor img:hover,
#tripadvisor img:focus {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}



// Footer
// -----------------------------------------------
footer {
    display: block;
    width: 100%;
    height: auto;
    background-color: @blue;
    text-align: center;
    padding: 30px 0;
    color: @white50;
    line-height: 2;
    
    a {
        color: @white50;
    }
    
    a:hover,
    a:focus {
        color: @white75;
    }
    
    a.framed {
        color: @white75;
        text-decoration: none;
        font-size: 110%;
        padding: 5px 10px 0;
        position: relative;
        display: inline-block;
        margin: 10px 15px;
        outline: none;
    }

    a.framed::before,
    a.framed::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid @black25;
        content: '';
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
    }

    a.framed::after  {
        border-color: @white75;
        opacity: 0;
        -webkit-transform: translateY(-7px) translateX(6px);
        -moz-transform: translateY(-7px) translateX(6px);
        transform: translateY(-7px) translateX(6px);
    }

    a.framed:hover::before,
    a.framed:focus::before {
        opacity: 0;
        -webkit-transform: translateY(5px) translateX(-5px);
        -moz-transform: translateY(5px) translateX(-5px);
        transform: translateY(5px) translateX(-5px);
    }

    a.framed:hover::after,
    a.framed:focus::after  {
        opacity: 1;
        -webkit-transform: translateY(0px) translateX(0px);
        -moz-transform: translateY(0px) translateX(0px);
        transform: translateY(0px) translateX(0px);
    }
    
    small {
        margin: 0 20px;
        padding-top: 20px;
    }
}


// Pages
// -----------------------------------------------
.btns-spanish-lessons {
    display: inline-block;
    margin-top: 2em;
}

// Fees table
// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)
.rwd-table {
    margin: 1em 0;
    width: 100%;
    margin: 2em auto;
    
    @media (min-width: 480px) {
        width: 80%;
      }
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: 480px) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: 480px) {
        text-align: center;
        
      display: table-cell;
      padding: .25em .5em;
        
        
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
        
    }
      
  }
    
    th:first-child, td:first-child {
        text-align: left;
    }
  
}

// Tours images
.tours-images {
    width: 100%;
    margin: 2em auto;
    text-align: center;
    
    @media (min-width: 480px) {
        width: 80%;
    }
    
    img {
        box-shadow: 0 0 1px @black75;
        -webkit-box-shadow: 0 0 1px @black75;
        margin: 10px; 
    }
}

// Main
// -----------------------------------------------
.container-not-found {
    max-width: 700px;
    margin: 0 auto;
    
    input {
        padding: 0.600em;
        margin: 1em 0;
    }
}


// Plugins
// ---------------------------------------------------------------------------
@import "plugins.less";
