/*! Thumper (grid) */
// ==========================================================================

//=================== Grid Vars =============================================

@gutter: 2%;

@half: 49%;
@one-third: 27%;
@one-fourth: 23.5%;
@one-fifth: 18.4%;
@one-sixth: 12.5%;
@one-seventh: 12.57%;
@one-eighth: 10.75%;
@one-ninth: 9.33%;
@one-tenth: 8.2%;
@one-eleven: 7.27%;
@one-twelve: 6.5%;
@one-thirteen: 5.846%;
@one-fourteen: 5.286%;
@one-fifteen: 4.799%;
@one-sixteen: 4.375%;
@one-seventeen: 4%;
@one-eighteen: 3.667%;
@one-nineteen: 2.857%;
@one-twenty: 2.637%;

//=================== Grid ==================================================
.grid{float:left; margin: 1% 1% 0 0;}
.clear{clear: both;}
img{max-width: 100%; height: auto;}
.wrap{width: 100%;}
.pad-pixel{padding: 0 20px 0 20px;}
.pad{padding: 0 3% 0 1.5%;}
.contain{width: 100%; max-width: 1024px; margin: 0 auto;}
.last{margin-right: 0 !important; clear: right;}
.space{content: ' '; visibility: hidden;}

.border{border-left: 1px solid @blue;}
 
.full{width: 100%;}

.half{width: @half;}

.one-third{width:@one-third;}
.two-third{width: (@one-third *2 + @gutter);}

.one-fourth{width: @one-fourth;}
.two-fourth{width: @half;}
.three-fourth{width: (@one-fourth + 51%);}

.one-fifth{width: @one-fifth;}
.two-fifth{width: @one-fifth *2 + @gutter;}
.three-fifth{width: @one-fifth *3 + @gutter *2;}
.four-fifth{width: @one-fifth *4 + @gutter *3;}

.one-sixth{width: @one-sixth;}
.two-sixth{width: @one-sixth *2 + @gutter;}
.three-sixth{width: @half;}
.four-sixth{width: @one-sixth *4 + @gutter *3;}
.five-sixth{width: @one-sixth *5 + @gutter *4;}

.one-seventh{width: @one-seventh;}
.two-seventh{width: @one-seventh *2 + @gutter;}
.three-seventh{width: @one-seventh *3 + @gutter *2;}
.four-seventh{width: @one-seventh *4 + @gutter *3;}
.five-seventh{width: @one-seventh *5 + @gutter *4;}
.six-seventh{width: @one-seventh *6 + @gutter *5;}

.one-eighth{width: @one-eighth;}
.two-eighth{width: @one-fourth;}
.three-eighth{width: @one-eighth * 3 + @gutter *2;}
.four-eighth{width: @half;}
.five-eighth{width: @one-eighth * 5 + @gutter *4;}
.six-eighth{width: @one-eighth * 6 + @gutter *5;}
.seven-eighth{width: @one-eighth * 7 + @gutter *6;}

.one-ninth{width: @one-ninth;}
.two-ninth{width: @one-ninth *2 + @gutter;}
.three-ninth{width: @one-ninth *3 + @gutter *2;}
.four-ninth{width: @one-ninth *4 + @gutter *3;}
.five-ninth{width: @one-ninth *5 + @gutter *4;}
.six-ninth{width: @one-ninth *6 + @gutter *5;}
.seven-ninth{width: @one-ninth *7 + @gutter *6;}
.eight-ninth{width: @one-ninth *8 + @gutter *7;}

.one-tenth{width: @one-tenth;}
.two-tenth{width: @one-fifth;}
.three-tenth{width: @one-tenth *3 + @gutter *2;}
.four-tenth{width: @one-tenth *4 + @gutter *3;}
.five-tenth{width: @half;}
.six-tenth{width: @one-tenth *6 + @gutter *5;}
.seven-tenth{width: @one-tenth *7 + @gutter *6;}
.eight-tenth{width: @one-tenth *8 + @gutter *7;}
.nine-tenth{width: @one-tenth *9 + @gutter *8;}

.one-eleven{width: @one-eleven;}
.two-eleven{width: @one-eleven *2 + @gutter;}
.three-eleven{width: @one-eleven *3 + @gutter *2;}
.four-eleven{width: @one-eleven *4 + @gutter *3;}
.five-eleven{width: @one-eleven *5 + @gutter *4;}
.six-eleven{width: @one-eleven *6 + @gutter *5;}
.seven-eleven{width: @one-eleven *7 + @gutter *6;}
.eight-eleven{width: @one-eleven *8 + @gutter *7;}
.nine-eleven{width: @one-eleven *9 + @gutter *8;}
.ten-eleven{width: @one-eleven *10 + @gutter *9;}

.one-twelve{width: @one-twelve;}
.two-twelve{width: @one-twelve *2 + @gutter;}
.three-twelve{width: @one-twelve *3 + @gutter *2;}
.four-twelve{width: @one-twelve *4 + @gutter *3;}
.five-twelve{width: @one-twelve *5 + @gutter *4;}
.six-twelve{width: @one-twelve *6 + @gutter *5;}
.seven-twelve{width: @one-twelve *7 + @gutter *6;}
.eight-twelve{width: @one-twelve *8 + @gutter *7;}
.nine-twelve{width: @one-twelve *9 + @gutter *8;}
.ten-twelve{width: @one-twelve *10 + @gutter *9;}
.eleven-twelve{width: @one-twelve *11 + @gutter *10;}

.one-thirteen{width: @one-thirteen;}
.two-thirteen{width: @one-thirteen *2 + @gutter;}
.three-thirteen{width: @one-thirteen *3 + @gutter *2;}
.four-thirteen{width: @one-thirteen *4 + @gutter *3;}
.five-thirteen{width: @one-thirteen *5 + @gutter *4;}
.six-thirteen{width: @one-thirteen *6 + @gutter *5;}
.seven-thirteen{width: @one-thirteen *7 + @gutter *6;}
.eight-thirteen{width: @one-thirteen *8 + @gutter *7;}
.nine-thirteen{width: @one-thirteen *9 + @gutter *8;}
.ten-thirteen{width: @one-thirteen *10 + @gutter *9;}
.eleven-thirteen{width: @one-thirteen *11 + @gutter *10;}
.twelve-thirteen{width: @one-thirteen *12 + @gutter *11;}

.one-fourteen{width: @one-fourteen;}
.two-fourteen{width: @one-fourteen *2 + @gutter;}
.three-fourteen{width: @one-fourteen *3 + @gutter *2;}
.four-fourteen{width: @one-fourteen *4 + @gutter *3;}
.five-fourteen{width: @one-fourteen *5 + @gutter *4;}
.six-fourteen{width: @one-fourteen *6 + @gutter *5;}
.seven-fourteen{width: @one-fourteen *7 + @gutter *6;}
.eight-fourteen{width: @one-fourteen *8 + @gutter *7;}
.nine-fourteen{width: @one-fourteen *9 + @gutter *8;}
.ten-fourteen{width: @one-fourteen *10 + @gutter *9;}
.eleven-fourteen{width: @one-fourteen *11 + @gutter *10;}
.twelve-fourteen{width: @one-fourteen *12 + @gutter *11;}
.thirteen-fourteen{width: @one-fourteen *13 + @gutter *12;}

.one-fifteen{width: @one-fifteen;}
.two-fifteen{width: @one-fifteen *2 + @gutter;}
.three-fifteen{width: @one-fifteen *3 + @gutter *2;}
.four-fifteen{width: @one-fifteen *4 + @gutter *3;}
.five-fifteen{width: @one-fifteen *5 + @gutter *4;}
.six-fifteen{width: @one-fifteen *6 + @gutter *5;}
.seven-fifteen{width: @one-fifteen *7 + @gutter *6;}
.eight-fifteen{width: @one-fifteen *8 + @gutter *7;}
.nine-fifteen{width: @one-fifteen *9 + @gutter *8;}
.ten-fifteen{width: @one-fifteen *10 + @gutter *9;}
.eleven-fifteen{width: @one-fifteen *11 + @gutter *10;}
.twelve-fifteen{width: @one-fifteen *12 + @gutter *11;}
.thirteen-fifteen{width: @one-fifteen *13 + @gutter *12;}
.fourteen-fifteen{width: @one-fifteen *14 + @gutter *13;}


// -------------------------------------------------------------------------
//  Smaller desktop: 1024px > 960px Width
// ------------------------------------------------------------------------- 
@media only screen and (min-width: 861px) and (max-width: 1040px) {	
	.grid{float:left; margin: 1.2% 2% 0 0;}

}


// -------------------------------------------------------------------------
//  Tablet (Common) : 860px > 640px Width
// -------------------------------------------------------------------------
@media only screen and (min-width: 640px) and (max-width: 860px) {
	.grid{float:left; margin: 1.5% 2% 0 0;}
}


// -------------------------------------------------------------------------
//  Mobile (Common) : 639px > 0px Width
// -------------------------------------------------------------------------
@media only screen and (max-width: 639px) {
	@full: 98%;
	.grid{float:left; width: @full !important; margin: 2% 3% 0 0;} 
	.pad{padding: 0 2.5% 0 2.5%;}
}