/*! Variables */
// ==========================================================================

// Colors
//============
@black: rgba(51, 51, 51, 1);
@black25: rgba(51, 51, 51, 0.25);
@black50: rgba(51, 51, 51, 0.5);
@black75: rgba(51, 51, 51, 0.75);

@white: rgba(255, 255, 255, 1);
@white25: rgba(255, 255, 255, 0.25);
@white50: rgba(255, 255, 255, 0.5);
@white75: rgba(255, 255, 255, 0.75);

@blue: rgba(0, 131, 211, 1); /* #0083d3 */
@blue10: rgba(0, 131, 211, 0.1);
@blue25: rgba(0, 131, 211, 0.25);
@blue50: rgba(0, 131, 211, 0.5);
@blue75: rgba(0, 131, 211, 0.75);

@yellow: rgba(234, 201, 113, 1); /* #eac971 */
@yellow20: rgba(234, 201, 113, 0.2);
@yellow40: rgba(234, 201, 113, 0.4);
@yellow80: rgba(234, 201, 113, 0.8);

@ochre: rgba(204, 151, 0, 1); /* #cc9700 */
@ochre20: rgba(204, 151, 0, 0.2);
@ochre30: rgba(204, 151, 0, 0.3);
@ochre40: rgba(204, 151, 0, 0.4);
@ochre80: rgba(204, 151, 0, 0.8);

@facebook: rgba(59, 89, 152, 1);
@twitter: rgba(0, 172, 237, 1);
@google: rgba(211, 72, 54, 1);
@linkedin: rgba( 0, 123, 182, 1);
@email: rgba(210, 210, 210, 1);


// Typography
@font-family-montserrat: 'Montserrat', sans-serif;
@font-family-roboto: 'Roboto', sans-serif;
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;

/* Font Weight */
@font-weight-light: 300;
@font-weight-regular: 500;
@font-weight-bold: 700;


/* Font size */
@font-size-base: 16px;
@font-size-large: 125%; // 20px
@font-size-small: 75%; // 12px
@font-size-mini: 50%; // 8px